/* REST API Tab Component */

.restApiTab {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 52px);
    overflow: hidden;
}

.requestEditor {
    height: 150px;
}

.responseCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin-bottom: 0;
}

.responseCardCollapsed {
    flex: none;
}

.responseCardBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
}

.responseEditor {
    flex: 1;
    min-height: 0;
}

.headerIconRest {
    background-color: var(--icon-query);
}

.headerIconSuccess {
    background-color: var(--icon-success);
}
