.eventsTab {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headerIconEvents {
    background-color: var(--icon-events);
}

.headerIconPublish {
    background-color: var(--icon-events-publish);
}

.replayRow {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}
