<div class="card">
    <div class="card-header">
        <div class="card-header-icon" style="background-color: #6a67ce;">A</div>
        <h2>Anonymous Apex</h2>
    </div>
    <div class="card-body">
        <div class="form-element">
            <label>Apex Code (Ctrl/Cmd+Enter to execute)</label>
            <div class="apex-editor monaco-container"></div>
        </div>
        <div class="m-top_small">
            <button class="button-brand apex-execute-btn">Execute Apex</button>
            <span class="apex-status status-badge"></span>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="card-header-icon" style="background-color: #3ba755;">L</div>
        <h2>Output &amp; Debug Log</h2>
    </div>
    <div class="card-body">
        <div class="apex-output-editor monaco-container monaco-container-lg"></div>
    </div>
</div>
