/* SF Icon - LWC styles (scoped to shadow DOM) */

:host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: 1;
}

.icon-container {
    display: contents;
}

/* Target SVG inside the container */
:host svg,
.icon-container svg {
    display: block;
    fill: currentColor;
}
