/* SF Icon - Display-only icon wrapper */

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 1;
}

.icon svg {
  display: block;
  fill: currentColor;
}
