name: Build Package

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Build and package
        run: npm run package

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sftools
          path: |
            dist
            manifest.json
            rules.json
            sftools-proxy
          retention-days: 7
